.container .navbar-brand {
    width: 10%;
    height: 10%;
}

.footer {
    border-top: 1px solid #ccc; /* tu borde */
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center; /* Centra texto hijos (título, subtítulo, copyright) */
    max-width: 100%;
  }
  
  .footer .titulo {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.5rem;
  }
  
  .footer .subtitulo {
    font-size: 14px;
    color: #555; /* un gris oscuro */
    line-height: 1.3;
    margin-bottom: 2rem;
    max-width: 500px; /* opcional, para no extenderse mucho en pantallas grandes */
    margin-left: auto;
    margin-right: auto;
  }
  
  .footer .links {
    display: flex;
    justify-content: center; /* CENTRAR los links horizontalmente */
    flex-wrap: wrap;
    gap: 30px; /* espacio entre cada red social */
    margin-bottom: 3rem;
  }
  
  .footer .link {
    background: #161616;
    color: white;
    padding: 10px 15px;
    border-radius: 100px;
    display: flex;
    align-items: center; /* para alinear texto e icono verticalmente */
    gap: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
  }
  
  .footer .link .icono {
    width: 20px;
    height: 20px;
  }
  
  .footer .link svg {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .footer .link:hover {
    color: white;
  }
  
  .footer .link.github:hover {
    background-color: #666;
  }
  
  .footer .link.linkedin:hover {
    background-color: #0a66c2;
  }
  
  .footer .link.instagram:hover {
    background-color: #c13584;
  }
  
  .footer .link.facebook:hover {
    background-color: #3b5998;
  }
  
  .footer .copyright {
    font-size: 14px;
    color: #666;
    margin-top: 0;
  }
  
